<div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
        <h4 class="uk-card-title uk-margin-remove-bottom">Innovation development funnel (Rejected cases excluded)</h4>
    </div>
    <div class="funnel-main uk-padding-small">
	
	<!-- Stages -->
        <div class="uk-grid-collapse bs-funnel-margin-left" uk-grid>
            <div class="uk-tile uk-padding-small stage bs-column-empty"></div>
            <div class="uk-tile uk-padding-small stage bs-column-exploration-stage uk-text-truncate">Exploration stage</div>
            <div class="uk-tile uk-padding-small stage bs-column-validation-stage uk-text-truncate">Validation stage</div>
            <div class="uk-tile uk-padding-small stage bs-column-build-stage uk-text-truncate">Build stage</div>
            <div class="uk-tile uk-padding-small stage bs-column-launch-stage uk-text-truncate">Launch</div>
        </div>
	
        <div class="uk-grid-collapse uk-child-width-expand uk-text-center" uk-grid>

            <div>  
                <div *ngFor="let row of rows" class="row-header uk-tile uk-padding-small funnel-cell-body">{{row.name}}</div>
		<div class=" uk-tile uk-padding-small funnel-cell-body"></div>
            </div>
            
            <!-- Repeats for every column -->
            <div *ngFor="let column of columns; index as c">
                
                <!-- Body -->
                <a class="uk-link-reset" *ngFor="let row of rows; index as r" [attr.href]="getHref(column, row)">
                    <div class="cell-{{c}}-{{r}} uk-tile uk-padding-small funnel-cell-body funnel-cell uk-flex-center uk-flex-middle">
                        <span>{{getFunnelValue(column, row)}}</span>
                    </div>
                </a>
		
		<!-- Header -->
                <div class="header uk-tile uk-padding-small column-{{c}} funnel-cell">Level {{column.name}}</div>
                
            </div>

            <div>  

                <!-- Body -->
                <a href="{{getOnMarketHref()}}">
                    <div class="uk-tile uk-padding-small funnel-cell-body funnel-cell on-market bs-funnel-total uk-flex-center uk-flex-middle">
                        <span>{{getOnMarket()}}</span>
                    </div>
		</a>
		<!-- Header -->
		<div class="header uk-tile uk-padding-small funnel-cell uk-text-truncate">Market</div>
                
            </div>

        </div>

        
        
    </div>
</div>
