<div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
        <h4 class="uk-card-title uk-margin-remove-bottom">Funnel Title here</h4>
    </div>
    <div class="funnel-main uk-padding">
        <div class="uk-grid-collapse uk-child-width-expand uk-text-center" uk-grid>

            <div>
                <div class="row-header uk-tile uk-padding-small funnel-cell-body"></div>
                <div *ngFor="let row of rows" class="row-header uk-tile uk-padding-small funnel-cell-body">{{row.name}}</div>
            </div>
            
            <!-- Repeats for every column -->
            <div *ngFor="let column of columns; index as c">

                <!-- Header -->
                <div class="header uk-tile uk-padding-small column-{{c}} funnel-cell">{{column.name}}</div>
                
                <!-- Body -->
                <a class="uk-link-reset" *ngFor="let row of rows; index as r" [attr.href]="getHref(column, row)">
                    <div class="cell-{{c}}-{{r}} uk-tile uk-padding-small funnel-cell-body funnel-cell">{{getFunnelValue(column, row)}}</div>
                </a>

                
            </div>

            <div>
                <!-- Header -->
                <div class="header uk-tile uk-padding-small funnel-cell">Market</div>

                <!-- Body -->
                    <div class="uk-tile uk-padding-small funnel-cell-body funnel-cell on-market">{{getOnMarket()}}</div>
                
            </div>

        </div>

        <!-- Stages -->
        <div class="uk-grid-collapse uk-margin-large-left" uk-grid>
            <div class="uk-tile uk-padding-small stage uk-width-1-3">Exploration stage</div>
            <div class="uk-tile uk-padding-small stage uk-width-1-3">Validation stage</div>
            <div class="uk-tile uk-padding-small stage uk-width-1-5">Build stage</div>
            <div class="uk-tile uk-padding-small stage">Launch</div>
        </div>
        
</div>
</div>
