<div class="uk-section-remove-vertical uk-section-primary uk-preserve-color">
    <div class="uk-container uk-container-expand">
        <navbar></navbar>
    </div>
</div>
<div class="uk-section-xsmall uk-section-muted">
    <div class="uk-container uk-container-expand">
        <theme-switcher></theme-switcher>
    </div>
</div>
<div class="uk-padding-remove-vertical uk-section-muted">
    <div class="uk-container uk-container-expand">
        <router-outlet></router-outlet>
    </div>
</div>
