/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";  

.uk-subnav-pill {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li.legend-label {
    font-size: 11px;
}

.label-hidden {
    color: #3333335e;
}