$text-dark: #666666;
$text-light: #ffffff;

$primary: #00ff00;
$accent: #63b43d;
$secondary: #9d5ab9;

$funnel-cell-base-color: #194782;
$funnel-row-header: #465c74;
$funnel-lighten-amount: 10%;

$global-primary-background: #376db2;
$global-secondary-background: #63b43d;

$global-large-font-size: 1.1rem