$text-dark: #666666;
$text-light: #ffffff;

$primary: #00ff00;
$accent: #63b43d;
$secondary: #9d5ab9;

$funnel-columns: 6;
$funnel-rows: 5;
$funnel-cell-base-color: #194782;
$funnel-row-header: #465c74;
$funnel-lighten-amount: 10%;
